PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4002
CONTENT_SERVICE_URL=http://localhost:4003
COLLABORATION_SERVICE_URL=http://localhost:4004
REPUTATION_SERVICE_URL=http://localhost:4005
RECOMMENDATION_SERVICE_URL=http://localhost:4006
CHATBOT_SERVICE_URL=http://localhost:4007
